<h1 class="title animate__animated animate__fadeIn">{{ title }}</h1>

<!-- <ul class="animate__animated animate__flipInX" *ngIf="mode=='bills'">
  <li *ngFor="let billOfExchange of billOfExchanges">
    Código: {{ billOfExchange.id }} | 
    Tipo: {{ billOfExchange.tipoDeDocumento }} | 
    Código Parceiro: {{ billOfExchange.codigoDoParceiro }} | 
    Nome Parceiro: {{ billOfExchange.nomeDoParceiro }} |
    Valor do Boleto: {{ billOfExchange.valorDoBoleto }}
  </li>
</ul>
<br><br> -->

<table style="width:100%" *ngIf="mode=='bills'">
  <tr>
    <th>Código</th>
    <th>Tipo</th>
    <th>Código Parceiro</th>
    <th>Nome Parceiro</th>
    <th>Valor do Boleto</th>
  </tr>
  <tr *ngFor="let billOfExchange of billOfExchanges">
    <td>{{ billOfExchange.id }}</td>
    <td>{{ billOfExchange.tipoDeDocumento }}</td>
    <td>{{ billOfExchange.codigoDoParceiro }}</td>
    <td>{{ billOfExchange.nomeDoParceiro }}</td>
    <td>{{ billOfExchange.valorDoBoleto }}</td>
  </tr>
</table>

<ul class="animate__animated animate__flipInX" *ngIf="mode=='adress'">
  <li *ngFor="let billOfExchange of billOfExchanges">
    Cep: {{ address.cep }} | 
    Logradouro: {{ address.logradouro }} | 
    Complemento: {{ address.complemento }} | 
    Bairro: {{ address.bairro }} |
    Localidade: {{ address.localidade }}
    UF: {{ address.uf }} |
    IBGE: {{ address.ibge }} |
    DDD: {{ address.ddd }} |
  </li>
</ul>

<br>
<button class="animate__animated animate__fadeInUp button" (click)="login()">
  LOGIN
</button>
<button class="animate__animated animate__fadeInUp button" (click)="getBillofExchanges()">
  BOLETOS
</button>
<button class="animate__animated animate__fadeInUp button" (click)="getAddress()">
  GET CEP
</button>